<!-- templates/profile.html -->

{% extends "base.html" %} {% block content %}

<br />
<div class="row col s12 left-align">
  <div class="col s6" >
    <h4 class="title">Publicaciones</h4>
  </div>

  <div class="col s6 right-align"> 
  <form action="/newpost"> 
    <button class="btn waves-effect waves-light" type="submit" name="action">
        Nueva publicacion
    </button>
  </form>
  </div>  
</div>

<div>
<form method="GET" action="/openfile" >
  <ul class="collection">
  {% for elem in result -%}
    <li class="collection-item avatar">
      <img src="{{elem.documento}}" alt="" class="circle" />
      <span class="title">{{ elem.asunto }}</span>
      <br />
      <p>
        {{ elem.id_user }}
      </p>
      <p>
        {{ elem.descripcion }}
      </p>
      <a class="secondary-content" name="action" value"{{elem.documento}}">
        <i class="material-icons">file_download</i>
      </a>
    </li>
  {% endfor -%}
  </ul>
  </form>
</div>
{% endblock %}


