<!-- templates/profile.html -->

{% extends "base.html" %} {% block content %}
<h4 class="title">Publicaciones de, {{ name }}!</h4>


<div class="fixed-action-btn">
  <a class="btn-floating btn-large">
    <i class="large material-icons">mode_edit</i>
  </a>
</div>

<div>
  <ul class="collection">
  {% for elem in result -%}
    <li class="collection-item avatar">
      <img src="{{elem.documento}}" alt="" class="circle" />
      <span class="title">{{ elem.asunto }}</span>
      <br />
      <p>
        {{ elem.id_user }}
      </p>
      <p>
        {{ elem.descripcion }}
      </p>
      <a href="#!" class="secondary-content"
        ><i class="material-icons">grade</i></a
      >
    </li>
  {% endfor -%}
  </ul>
</div>
{% endblock %}


